#homebtn {
    position: fixed; 
    bottom: 30px; 
    left: 30px;
}
#login-page { 
    padding: 100px;
    background: url("https://images8.alphacoders.com/939/thumb-1920-939716.png") no-repeat center ;
    background-size: cover;
    height: 100vh;
}
#login-req { 
    padding: 200px;
    text-align: center;
    background: url("https://static.vecteezy.com/system/resources/previews/000/398/589/original/silhouette-skyline-illustration-vector.jpg") no-repeat center ;
    background-size: cover;
    height: 100vh;
}
  
  